{% extends 'base.html' %}
{% block title %}Agenda{% endblock %}
{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item"><span>Agenda</span></li>
            <li class="breadcrumb-item active"><span>Api</span></li>
        </ol>
    </nav>
</div>
{% endblock %}
{% block content %}
<div>
<h1>Agenda List</h1>
<div id="agenda-list">
    {% if agendas %}
        <ul>
            {% for agenda in agendas %}
                <li>{{ agenda.title }}</li>  
            {% endfor %}
        </ul>
    {% else %}
        <p>No agendas available.</p>
    {% endif %}
    
</div>
{% endblock %} 
