{% extends 'base.html' %}

{% block title %}Agenda{% endblock %}

{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item"><span>Agenda</span></li>
            <li class="breadcrumb-item active"><span>Show</span></li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <!-- 添加行程按钮 -->
        <div class="mb-3">
            <a href="{% url 'agenda:add_agenda' %}" class="btn btn-primary">添加行程</a>
        </div>
        <div class="mb-3">
          <a href="{% url 'agenda:add_Travelagenda' %}" class="btn btn-primary">添加旅行计划</a>
      </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">日程名称</th>
                        <th scope="col">地点信息</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">   
                    {% for agenda in agendas %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ agenda.title }}</td>  
                        <td>
                          {% for loc in agenda.agendalocation_set.all %}
                            {{ loc.departure_location.name }} to {{ loc.arrival_location.name }} ({{ loc.arrival_time }})<br>
                          {% endfor %}
                        </td>
                        <td>
                          <form action="{% url 'agenda:delete_agenda' agenda.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">删除</button>
                          </form>
                          <form action="{% url 'agenda:update_agenda' agenda.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">修改</button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
