{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgot Password</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>Forgot Password</h1>
                                <p class="text-body-secondary">Enter your email to receive a verification code.</p>

                                <form id="forgotPasswordForm" method="post">
                                    {% csrf_token %}
                                    <div class="input-group mb-4">
                                        <span class="input-group-text">
                                            <svg class="icon">
                                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                                            </svg>
                                        </span>
                                        <input class="form-control" type="email" name="email" placeholder="Email" required>
                                    </div>
                                    <button class="btn btn-primary px-4" type="submit">Send Verification Code</button>
                                </form>

                                {% if messages %}
                                    <div id="responseMessage">
                                        {% for message in messages %}
                                            <div style="color: red;">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Back to Login</h2>
                                    <p>If you remember your password, you can go back to the login page.</p>
                                    <a href="{% url 'accounts:login' %}" class="btn btn-lg btn-outline-light mt-3">Login Now!</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendors/@coreui/coreui-pro/js/coreui.bundle.min.js' %}"></script>
</body>
</html>
