{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}


{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item active"><span>Dashboard</span></li>
        </ol>
    </nav>
</div>
{% endblock %}
{% block content %}
<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <h2>Dashboard</h2>
        <p>欢迎来到旅游日程规划平台</p>
        
        <div class="mb-4">
            <h4>添加新的日程</h4>
            <a href="/agenda/agendas/addtrip" class="btn btn-info mt-2">添加日程</a>
        </div>

        <h4>你的日程</h4>
        <div id="agenda-container">
            <!-- 日程列表将通过 AJAX 加载到这里 -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#agenda-container").load("{% url 'agenda:main' %} #agenda-list");
    });
</script>
{% endblock %}
