{% extends 'base.html' %}

{% block title %}Attractions{% endblock %}


{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item"><span>Destinations</span></li>
            <li class="breadcrumb-item active"><span>Attractions</span></li>
        </ol>
    </nav>
</div>
{% endblock %}
{% block content %}
<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <h2>Attractions</h2>
    <p>Welcome to your Attractions!</p>
    </div>
</div>

<!-- 其他仪表板内容 -->
{% endblock %}
