{% extends 'base.html' %}
{% load static %}
{% block title %}Your Notifications{% endblock %}
{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item active"><span>Notifications</span></li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">当前系统通知</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">消息</th>
                            <th scope="col">时间</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if notifications %}
                            {% for notification in notifications %}
                                <tr>
                                    <td>
                                        {{ notification.message }}
                                        {% if not notification.is_read %}
                                            <strong>(New)</strong>
                                        {% endif %}
                                    </td>
                                    <td>{{ notification.created_at }}</td>
                                    <td>
                                        {% if not notification.is_read %}
                                            <form method="post" action="{% url 'notifications:mark_as_read' notification.id %}" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-primary">Mark as read</button>
                                            </form>
                                        {% else %}
                                            已阅读
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">当前还没有通知哦！</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
