{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block content %}
<div class="container-lg px-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Post Title -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="title-addon">@</span>
            <input type="text" class="form-control" name="title" placeholder="Post Title" aria-label="Post Title" aria-describedby="title-addon" required>
        </div>

        <!-- Post Content -->
        <div class="input-group mb-3">
            <span class="input-group-text">Content</span>
            <textarea class="form-control" name="content" aria-label="With textarea" placeholder="Write your post here..." rows="5" required></textarea>
        </div>

        <!-- Image Upload -->
        <div class="mb-3">
            <label for="image-upload" class="form-label">Upload Images</label>
            <input type="file" class="form-control" id="image-upload" name="images" aria-label="Image Upload" accept="image/*" multiple required>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit Post</button>
    </form>
</div>
{% endblock %}
