{% extends 'base.html' %}

{% block title %}Posts{% endblock %}


{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item"><span>Posts</span></li>
            <li class="breadcrumb-item active"><span>Send</span></li>
        </ol>
    </nav>
</div>
{% endblock %}
{% block content %}
<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <h2>Posts</h2>
    <p>Here you can post your posts</p>
    </div>
</div>

{% endblock %}
