{% extends 'base.html' %}

{% block title %}Posts{% endblock %}


{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item"><span>Posts</span></li>
            <li class="breadcrumb-item active"><span>Show</span></li>
        </ol>
    </nav>
</div>
{% endblock %}
{% block content %}
<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-body-secondary">
              2 days ago
            </div>
          </div>
    </div>
</div>

{% endblock %}
